<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form action="/register" method="POST">
                <input type="text" placeholder="name" name="name"/>
                <input type="text" placeholder="mobileNumber" name="mobileNumber"/>
                <input type="file" name="image"/>
                <input type="email" placeholder="email" name="email"/>
                <input type="text" placeholder="username" name="username"/>
                <input type="password" placeholder="password" name="password"/>
                <input type="password" placeholder="password" name="confirmPassword"/>
                <button>send</button>
            </form>
        </div>
    </div>
</div>

<hr>
<div class="container">
        <div class="row">
            <div class="col-sm-12">
                <form action="/login" method="POST">
                    <input type="text" placeholder="username" name="username"/>
                    <input type="password" placeholder="password" name="password"/>
                    <button>send login</button>
                </form>
            </div>
        </div>
</div>

<hr>
<div class="container">
        <div class="row">
            <div class="col-sm-12">
                <form action="/AddTeacher" method="POST">
                    <input type="text" placeholder="describtion" name="describtion"/>
                    <button>AddTeacher</button>
                </form>
            </div>
        </div>
</div>


<hr>
<div class="container">
        <div class="row">
            <div class="col-sm-12">
                <form action="/AddComment" method="POST">
                    <input type="text" placeholder="comment" name="content"/>
                    <button>AddComment</button>
                </form>
            </div>
        </div>
</div>

<hr>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form action="/ShowTeacher" method="POST">
                <button>ShowTeacher</button>
            </form>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form action="/UploadFile" method="POST">
                <input type="text" placeholder="title" name="title"/>
                <button>UploadFile</button>
            </form>
        </div>
    </div>
</div>


<hr>
<div class="container">
        <div class="row">
            <div class="col-sm-12">
                <form action="/AddAdmin" method="POST">
                    <input type="text" placeholder="name" name="name"/>
                    <input type="text" placeholder="mobileNumber" name="mobileNumber"/>
                    <input type="email" placeholder="email" name="email"/>
                    <input type="text" placeholder="username" name="username"/>
                    <input type="password" placeholder="password" name="password"/>
                    
                    <button>AddTAdmin</button>
                </form>
            </div>
        </div>
</div>