<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <% include partials/head %>
</head>
<body>
    <% include partials/header.ejs %>
    <!-- <% if(Session == undefined){ %>
        <% include partials/header.ejs %>
    <% } %>
    <%= Session%> -->
    
        
    
</body>
</html>